{% extends 'main.html' %}

{% block count_all %}

{{ count_all }}

{% endblock %}



{% block contacts %}
    <div class="large-12 columns">
        <hr>
        <p>
            <h4>По всем вопросам и предложениям:</h4><br/>
            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Электронная почта - <strong>soc.goodlike@gmail.com</strong>.<br/>
            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Группа в vk - <a href="http://vk.com/goodlike.club" target="_blank">http://vk.com/goodlike.club</a>
        </p>
    </div>
{% endblock %}
